/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
@import url(//fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(//fonts.googleapis.com/css?family=Droid+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body,
.content-space {
  width: 100%;
  height: 100%; }

html {
  font-size: 100%;
  font-family: 'Droid Sans', sans-serif; }

.section-container {
  width: 100%; }

.content-container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0; }

.clearfix,
.clearfix:before,
.clearfix:after {
  clear: both; }

.title-space {
  background-color: #67a0e1;
  height: 55%; }
  .title-space .content-container h1 {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 2.5rem;
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
    border: 4px dashed #ffffff;
    color: #ffffff;
    text-align: center;
    padding: 5.25rem 0;
    box-sizing: border-box;
    margin: 2rem auto; }
    @media screen and (max-width: 1024px) and (orientation: portrait) {
      .title-space .content-container h1 {
        font-family: 'Source Code Pro', sans-serif;
        font-size: 2.15rem;
        width: 18rem;
        height: 18rem;
        border-radius: 9rem;
        border: 4px dashed #ffffff;
        color: #ffffff;
        text-align: center;
        padding: 5rem 0;
        box-sizing: border-box;
        margin: 2.5rem auto; } }
  @media screen and (max-width: 1024px) and (orientation: portrait) {
    .title-space {
      height: auto; } }
  @media screen and (max-width: 1024px) and (orientation: landscape) {
    .title-space {
      height: auto; } }

.intro-space {
  background-color: #ffffff;
  height: 45%; }
  .intro-space .content-container {
    text-align: center;
    color: #446994; }
    .intro-space .content-container h2 {
      font-size: 2rem;
      margin: 1.5rem 0; }
    .intro-space .content-container p {
      width: 70%;
      margin: 0 auto;
      font-size: 1.5rem; }
      @media screen and (max-width: 1024px) and (orientation: portrait) {
        .intro-space .content-container p {
          width: 100%; } }
      @media screen and (max-width: 1024px) and (orientation: landscape) {
        .intro-space .content-container p {
          width: 100%; } }
  @media screen and (max-width: 1024px) and (orientation: portrait) {
    .intro-space {
      height: auto; } }
  @media screen and (max-width: 1024px) and (orientation: landscape) {
    .intro-space {
      height: auto; } }

#arrow-down {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: #67a0e1 transparent transparent transparent;
  margin: 2rem auto; }
  #arrow-down:hover, #arrow-down:active {
    border-color: #E0D067 transparent transparent transparent; }

#form-space {
  background-color: #67A0E1;
  color: #ffffff; }
  #form-space h2 {
    font-size: 2rem;
    margin: 1.5rem 0 3rem 0;
    text-align: center; }
  #form-space p {
    font-size: 1.5rem;
    margin: 0.5rem 0; }
  #form-space .summary {
    margin-top: 2rem; }

#message-generator {
  float: left;
  width: 50%;
  margin: 0; }
  #message-generator select,
  #message-generator input[type=email],
  #message-generator input[type=date],
  #message-generator #datepicker {
    width: 100%;
    height: 3rem;
    border: 1px solid #446994;
    margin: 0.5rem 0;
    box-sizing: border-box;
    padding: 0 1rem;
    font-family: 'Source Code Pro', sans-serif;
    color: gray;
    background-color: #ffffff; }
    #message-generator select:focus,
    #message-generator input[type=email]:focus,
    #message-generator input[type=date]:focus,
    #message-generator #datepicker:focus {
      background-color: #f2ecc2; }
    @media screen and (max-width: 1024px) and (orientation: portrait) {
      #message-generator select,
      #message-generator input[type=email],
      #message-generator input[type=date],
      #message-generator #datepicker {
        width: 100%; } }
    @media screen and (max-width: 1024px) and (orientation: landscape) {
      #message-generator select,
      #message-generator input[type=email],
      #message-generator input[type=date],
      #message-generator #datepicker {
        width: 100%; } }
  #message-generator input[type=text] {
    width: 49.67%;
    height: 3rem;
    border: 1px solid #446994;
    margin: 0.5rem 0 0.5rem 0;
    box-sizing: border-box;
    padding: 0 1rem;
    font-family: 'Source Code Pro', sans-serif;
    color: gray;
    background-color: #ffffff; }
    #message-generator input[type=text]:focus {
      background-color: #f2ecc2; }
    @media screen and (max-width: 1024px) and (orientation: portrait) {
      #message-generator input[type=text] {
        width: 100%; } }
    @media screen and (max-width: 1024px) and (orientation: landscape) {
      #message-generator input[type=text] {
        width: 100%; } }
  #message-generator input[type=submit] {
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    box-shadow: none;
    background-color: #E0D067;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 1rem 0 3rem 0; }
    #message-generator input[type=submit]:hover {
      background-color: #8d002b; }
  @media screen and (max-width: 1024px) and (orientation: portrait) {
    #message-generator {
      float: none;
      width: 100%; } }

.final-message {
  float: right;
  width: 40%; }
  @media screen and (max-width: 1024px) and (orientation: portrait) {
    .final-message {
      float: none;
      width: 100%; } }

#message-result {
  width: 100%;
  height: auto;
  border: 2px dashed #ffffff;
  margin: 2rem 0;
  text-align: center;
  box-sizing: border-box; }

.outer {
  width: 90%;
  height: auto;
  margin: 1rem auto;
  background-color: #ffffff;
  padding: 1rem 0;
  box-sizing: border-box; }

.inner {
  width: 90%;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid  #446994;
  padding: 1rem;
  color: #446994;
  font-size: 1rem; }

.footer-space {
  background-color: #ffffff;
  width: 100%;
  color: #446994;
  height: auto;
  line-height: 1.3rem; }
  .footer-space a {
    color: #E0D067;
    text-decoration: none; }
    .footer-space a:visited {
      color: #947C44; }

.no-display {
  display: none; }

/*# sourceMappingURL=style.css.map */
